<div id="<%= dom_id orden %>">
  <p>
    <strong>Producto:</strong>
    <%= orden.producto_id %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= orden.cliente_id %>
  </p>

  <p>
    <strong>Tipopago:</strong>
    <%= orden.tipoPago_id %>
  </p>

  <p>
    <strong>Monto total:</strong>
    <%= orden.monto_total %>
  </p>

</div>
